
@{
    ViewBag.Title = "OrderStatusChange";
    Layout = "~/Views/Shared/Back_Layout.cshtml";
    string orderNo = String.Format("{0:000000}", ViewBag.model.OrderNo);
    string meisaiNo = String.Format("{0:000}", ViewBag.model.MeisaiNo);
    string itemNo = String.Format("{0:0000}", ViewBag.model.ItemNo);
    DateTime dt = ViewBag.model.DeliveryDate;
    string datetime = dt.ToString("yyyy/MM/dd");
}

<style>
    h1 {
        text-align: center
    }

    p {
        text-align: center
    }

    table {
        margin: 0 auto
    }
</style>

<h1>受注ステータス変更完了</h1>
<p>受注ステータスを更新しました。</p>

    <table border="1">
        <tr>
            <th>注文番号-明細</th>
            <td>@orderNo-@meisaiNo</td>
        </tr>
        <tr>
            <th>商品番号</th>
            <td>@itemNo </td>
        </tr>
        <tr>
            <th>商品名</th>
            <td>@ViewBag.model.Product.ItemName</td>
        </tr>
        <tr>
            <th>数量</th>
            <td>@ViewBag.model.Quantity</td>
        </tr>
        <tr>
            <th>希望納期</th>
            <td>@datetime</td>
        </tr>
        <tr>
            <th>ステータス</th>
            <td>@ViewBag.Status</td>

        </tr>
    </table><br />
    <p><input type="button" value="検索結果に戻る" onclick="history.go(-2)"></p>
