@model List<OrderingManagementSystem.ViewModel.ProductViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>カタログ閲覧画面</title>
</head>
<body>
    <center>
        <h1>取扱商品カタログ</h1>
        <table border="1">
            <tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <td><img src="@Url.Content(Model[i].PhotoUrl)" wigth="150" height="150" /></td>
                    <td>
                        商品番号：@Html.DisplayFor(model => model[i].ItemNo)<br /><br />
                        @Html.DisplayFor(model => model[i].ItemName)<br /><br />
                        種類：@Html.DisplayFor(model => model[i].Type)<br />
                        在庫数量：@Html.DisplayFor(model => model[i].Stock)<br />
                        <input type="button" value="注文する" />
                    </td>
                }
            </tr>

        </table>
    </center>
</body>
</html>
