@model List<OrderingManagementSystem.ViewModel.ProductViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>カタログ閲覧画面</title>
</head>
<body>
    <center>
        <h1>取扱商品カタログ</h1>
        <table border="1">
            <tr>
                @foreach (var item in Model)
                {
                    <td><img src="@Url.Content(item.PhotoUrl)" wigth="150" height="150" /></td>
                    <td>
                        商品番号：@Html.DisplayFor(model => item.ItemNo)<br /><br />
                        @Html.DisplayFor(model => item.ItemName)<br /><br />
                        種類：@Html.DisplayFor(model => item.Type)<br />
                        在庫数量：@Html.DisplayFor(model => item.Stock)<br />
                        <input type="button" value="注文する" />
                    </td>
                }
            </tr>

        </table>
    </center>
</body>
</html>
