@{
    Layout = "~/Views/Shared/Front_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>カタログ閲覧画面</title>
</head>
<body>
    <center>
        <h1>取扱商品カタログ</h1>
        <form action="/ProductAdd/List" method="post">
            <table border="1">
                @foreach (var item in ViewBag.model)
                {
                    <tr>
                        <td><img src="@item.PhotoUrl" wigth="150" height="150" /></td>
                        <td>
                            商品番号：@item.ItemNo<br /><br />
                            @item.ItemName<br /><br />
                            種類：@item.Type<br />

                            @if (item.Stock == 0)
                            {
                                <div>在庫数量：入荷待ち</div>
                            }
                            else
                            {
                                <div>在庫数量：@item.Stock</div>
                            }
                            @if (item.Stock > 0)
                            {
                                <input type="hidden" name="ItemNo" value="@item.ItemNo" />
                                <button type="submit" formaction="/ProductAdd/List/@item.ItemNo">注文する</button>
                            }

                        </td>
                    </tr>
 
                }

            </table>
        </form>
    </center>
</body>
</html>
