
@model List<OrderingManagementSystem.ViewModel.ProductCatalogViewModel>

@{
    Layout = "~/Views/Shared/Front_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>カタログ閲覧画面</title>
</head>
<body>
    <h1>取扱商品カタログ</h1>

    <table border="1">
        @for (int i = 0; i < Model.Count() / 2; i++)
        {
            <tr>
                @for (int j = 0; j < 2; j++)
                {
                        <td><img src="@Model[i*2+j].PhotoUrl" wigth="150" height="150" /></td>
                        <td>
                            商品番号：@Html.DisplayFor(m => m[i * 2 + j].ItemNo)<br /><br />
                            @Html.DisplayFor(m => m[i * 2 + j].ItemName)<br /><br />
                            ご提供価格：@Html.DisplayFor(m => m[i * 2 + j].UnitPrice)-<br /><br />
                            種類：@Html.DisplayFor(m => m[i * 2 + j].Type)
                            @if (Model[i * 2 + j].Stock == 0)
                            {
                                <div>在庫数量：入荷待ち</div><br />
                            }
                            else
                            {
                                <div>在庫数量：@Model[i * 2 + j].Stock</div>
                            }

                            @if (Model[i * 2 + j].Stock > 0)
                            {
                                <input type="button" value="注文する" onclick="window.location = '@Url.Action(
                                                                  "List", "ProductAdd", new { ItemNo = Model[i*2+j].ItemNo }, null)'" />
                            }

                        </td>
                }
            </tr>
        }
    </table>


</body>
</html>
