@model OrderingManagementSystem.Models.Employee
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>ウィン堂</title>
    <link rel="stylesheet" type="text/css" href="/Content/logo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
$(function(){
    history.pushState(null, null, null);
    $(window).on("popstate", function(){
        history.pushState(null, null, null);
    });
});
    </script>
</head>
<body>
    <table border="1" class="kousei">
        <thead><tr class="box5"><th class="header" width="350"></th><th class="header" colspan="2"><h3>ウィン堂</h3><p><y>bookstore</y></p></th>
            <th class="header" id="subtitle">商品発注システム</th></tr></thead>
    </table>
    <div align="center">
        <p>社員番号とパスワードを入力してください。</p>
        @if (ViewBag.IsAuth != null)
        {
    <p>入力された社員番号またはパスワードが誤っています。</p>
        }
        @using (Html.BeginForm("EmployeeMain", "EmployeeLogin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>社員番号</td>
                    <td>@Html.TextBoxFor(model => model.EmpNo)</td>
                    <td>@Html.ValidationMessageFor(model => model.EmpNo)</td>
                </tr>
                <tr>
                    <td>パスワード</td>
                    <td>@Html.PasswordFor(model => model.Password)</td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
            </table>
            <input type="submit" value="ログイン"> <input type="reset" value="クリア" />
        }
    </div>
</body>
</html>